<%= form_for @error_report, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :staff_actions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :staff_actions, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_out, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :time_out, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_back, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :time_back, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :equipment_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:equipment_type, TYPE_OF_EQUIPMENT, :class => 'text-field form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :out_of_service, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :out_of_service, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :needs_maintenance, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :needs_maintenance, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_closed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :is_closed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cctv_off, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :cctv_off, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cctv_on, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :cctv_on, :class => 'text-field form-control' %>
    </div>
  </div>con
  <div class="form-group">
    <%= f.label :affected_equipment, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:affected_equipment, Equipment.order('name ASC'), :id, :name ,:class => 'text-field form-control')%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type_of_problem, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :type_of_problem, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :owning_agency, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :owning_agency, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :outside_support, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :outside_support, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reporting_agency, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :reporting_agency, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ticket_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :ticket_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :operator_actions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :operator_actions, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  error_reports_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
